- content_for :data_crumb do
  %ol.breadcrumb
    %li= link_to 'Home', '/'
    %li= link_to 'Statistics Selector', '#'

-# page_title "Statistics Selector: Add column data"


%section#stats-selector.step-four
  .row.container
    .sixteen.columns
      %h3 Statistics Selector
      %h1 Step 4 of 4: Download Data

      %section#download
        %header PREVIEW
        %table
          = render 'snapshot', snapshot: @snapshot
          %tfoot
            %tr
              %td &hellip;
      .actions
        = link_to download_selector_path(@selector), class: 'btn primary' do
          %i.icon-download
          Download